### Just joining here the two files: 

#### TorontoPostalCodes_df. csv includes the Borough and Neighbourhood Information and Geospatial_Coordinates.csv includes Latitudes and Longitudes for each postal code

In [17]:
import pandas as pd

In [18]:
PostalCodes_df = pd.read_csv('TorontoPostalCodes_df.csv')   
PostalCodes_df.head()

   Unnamed: 0 PostalCode      Borough                          Neighborhood
0           0        M1B  Scarborough                         Rouge,Malvern
1           1        M1C  Scarborough  Port Union,Rouge Hill,Highland Creek
2           2        M1E  Scarborough       Guildwood,Morningside,West Hill
3           3        M1G  Scarborough                                Woburn
4           4        M1H  Scarborough                             Cedarbrae

In [19]:
print('The dataframe has {} boroughs and {} neighborhoods.'.format(
        len(PostalCodes_df['Borough'].unique()),
       PostalCodes_df.shape[0]
    )
)

The dataframe has 10 boroughs and 103 neighborhoods.

In [20]:
del PostalCodes_df['Unnamed: 0']

In [23]:
PostalCodes_df.head()

  PostalCode      Borough                          Neighborhood
0        M1B  Scarborough                         Rouge,Malvern
1        M1C  Scarborough  Port Union,Rouge Hill,Highland Creek
2        M1E  Scarborough       Guildwood,Morningside,West Hill
3        M1G  Scarborough                                Woburn
4        M1H  Scarborough                             Cedarbrae

In [25]:
Coordinates_df = pd.read_csv('https://cocl.us/Geospatial_data/Geospatial_Coordinates.csv')   
Coordinates_df.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [26]:
Toronto_df=PostalCodes_df.set_index('PostalCode').join(Coordinates_df.set_index('Postal Code'))

In [27]:
Toronto_df.head()

,Borough,Neighborhood,Latitude,Longitude
PostalCode,,,,
M1B,Scarborough,"Rouge,Malvern",43.806686,-79.194353
M1C,Scarborough,"Port Union,Rouge Hill,Highland Creek",43.784535,-79.160497
M1E,Scarborough,"Guildwood,Morningside,West Hill",43.763573,-79.188711
M1G,Scarborough,Woburn,43.770992,-79.216917
M1H,Scarborough,Cedarbrae,43.773136,-79.239476

In [ ]:
Toronto_df.reset_index(inplace = True)

In [ ]:
print('The dataframe has {} boroughs and {} neighborhoods.'.format(
        len(Toronto_df['Borough'].unique()),
       Toronto_df.shape[0]
    )
)

In [ ]:
Toronto_df.head()

In [ ]:
#Let's save the dataframe
Toronto_df.to_csv('Toronto_df.csv')